@charset "utf-8";
/* CSS Document */

/* WWF Font
------------------------------------------------------------------------*/
@font-face { 
	font-family: WWF; src: url('../fonts/wwf-webfont.ttf'); }



/* Typografy (16px = 100%)
------------------------------------------------------------------------*/




/* Body
------------------------------------------------------------------------*/
body {
	background-color: black;
	display: grid;
	grid-template-columns: 100px 50% 50%;
  	grid-template-rows: 1fr 1fr 1fr 1fr;
}

/* Header
------------------------------------------------------------------------*/
header {
 	grid-column: 1 / 2;
}


nav {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: white;
	width: 50px;
}

	nav ul li a {
		
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;

		list-style: none;
		height: 50px;

		text-decoration: none;
		font-family: WWF;
		text-transform: uppercase;
		color: black;


	}

.current {
	background-color: black;
}

	.current a {
		color: white;
	}

li:hover {
	background: #00ff6d; /* For browsers that do not support gradients */
	background: linear-gradient(145deg, #00ff6d 0%, #31f7ce 30%, #07bbf6 75%);
}


